{% extends 'stats/base.html' %}


{% block content %}

<style>
	.container {position:relative;text-align:center;color:white;}
	.bottom-left {position:absolute;bottom: 8px;left: 16px;}
	.top-left {position:absolute;top: 8px;left:16px;}
	.top-right {position:absolute;top:8px;right:16px;}
	.bottom-right {position:absolute;bottom: 8px;right:16px;}
	.centered {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
</style>

<div class="container-fluid">
	<div class="row">	
	{% load static %}
		<div class="col-sm-6">
				<a href="#">
				<img class="img-responsive"  src="{% static 'stats/home/' %}ComicHome.png" alt="Hero"/>
				<div class="centered text-center"><h1>Coming Soon</h1></div>
				<div class="well-lg col-xs-11 text-center bottom-right">
					<h1>Comics</h1>
				</div> 
				</a>
		</div> 
		<div class="col-sm-6">
				<a href="/rpg/">
					<img class="img-responsive" src="{% static 'stats/home/' %}ForestHome.png" alt="Soldier"/>
					<div class="well-lg col-xs-11 text-center bottom-left">
						<h1>The Forest RPG</h1>
					</div> 
				</a>
		</div> 
	</div> 
</div>

{% endblock %}