<div class="col-md-12"> 
	<div class="well-lg">
    {% if characterHP %}
	<div class="text-center">
		<h3>{{ character }}'s Health</h3>
<!--  --------------------------------------------------------------------------------- -->
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h4>Head</h4>{% if characterArmor.Max_Head_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Head_Armor characterArmor.Max_Head_Armor 100%}%">
						{{characterArmor.Head_Armor}}/{{characterArmor.Max_Head_Armor}}  {{characterArmorName.Equiped_Head}} 
				</div></div>{% endif %}
				{% if characterHP.Temp_Head_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Head_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Head_HP characterHP.Max_Head_HP 100 %}%">
					{{characterHP.Head_HP}} / {{characterHP.Max_Head_HP}}
				</div></div>
			</div>
		</div>
<!--  --------------------------------------------------------------------------------- -->				
		<div class="row">
			<div class="col-sm-4">
				<h4>Left Arm</h4>{% if characterArmor.Max_Left_Arm_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Left_Arm_Armor characterArmor.Max_Left_Arm_Armor 100%}%">
						{{characterArmor.Left_Arm_Armor}} /{{characterArmor.Max_Left_Arm_Armor}}  {{characterArmorName.Equiped_Left_Arm}}
				</div></div>{% endif %}
				{% if characterHP.Temp_Left_Arm_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Left_Arm_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Left_Arm_HP characterHP.Max_Left_Arm_HP 100 %}%">
					{{characterHP.Left_Arm_HP}} / {{characterHP.Max_Left_Arm_HP}}
				</div></div>					
			</div>
<!--  --------------------------------------------------------------------------------- -->
			<div class="col-sm-4">
				<h4>Core</h4>{% if characterArmor.Max_Core_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Core_Armor characterArmor.Max_Core_Armor 100%}%">
						{{characterArmor.Core_Armor}} /{{characterArmor.Max_Core_Armor}} {{characterArmorName.Equiped_Core}}
				</div></div>{% endif %}
				{% if characterHP.Temp_Core_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Core_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Core_HP characterHP.Max_Core_HP 100 %}%">
					{{characterHP.Core_HP}} / {{characterHP.Max_Core_HP}} 
				</div></div>				
			</div>
<!--  --------------------------------------------------------------------------------- -->
			<div class="col-sm-4">
				<h4>Right Arm</h4>{% if characterArmor.Max_Right_Arm_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Right_Arm_Armor  characterArmor.Max_Right_Arm_Armor  100%}%">
						{{characterArmor.Right_Arm_Armor }} /{{characterArmor.Max_Right_Arm_Armor }} {{characterArmorName.Equiped_Right_Arm  }}
				</div></div>{% endif %}
				{% if characterHP.Temp_Right_Arm_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Right_Arm_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Right_Arm_HP characterHP.Max_Right_Leg_HP 100 %}%">
					{{characterHP.Right_Arm_HP }} / {{characterHP.Max_Right_Arm_HP }}
				</div> </div>					
			</div>					
		</div>
<!--  --------------------------------------------------------------------------------- -->
		<div class="row">
			<div class="col-sm-4  col-sm-offset-1">
				<h4>Left Leg</h4>{% if characterArmor.Max_Left_Leg_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Left_Leg_Armor  characterArmor.Max_Left_Leg_Armor  100%}%">
						{{characterArmor.Left_Leg_Armor }} /{{characterArmor.Max_Left_Leg_Armor }} {{characterArmorName.Equiped_Left_Leg }}
				</div></div>{% endif %}
				{% if characterHP.Temp_Left_Leg_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Left_Leg_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Left_Leg_HP characterHP.Max_Right_Leg_HP 100 %}%">
					{{characterHP.Left_Leg_HP }} / {{characterHP.Max_Left_Leg_HP }}
				</div> </div>				
			</div>
<!--  --------------------------------------------------------------------------------- -->
			<div class="col-sm-4 col-sm-offset-2">
				<h4>Right Leg</h4>{% if characterArmor.Max_Right_Leg_Armor > 0 %}<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-grey" role="progressbar" 
					style="width:{% widthratio characterArmor.Right_Leg_Armor characterArmor.Max_Right_Leg_Armor  100%}%">
						{{characterArmor.Right_Leg_Armor }} /{{characterArmor.Max_Right_Leg_Armor }} {{characterArmorName.Equiped_Right_Leg}}
				</div></div>{% endif %}
				{% if characterHP.Temp_Right_Leg_HP > 0 %}
					<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar-danger" role="progressbar"  style="width:100%">+{{ characterHP.Temp_Right_Leg_HP }}</div></div>
				{% endif %}
				<div class="progress center-block" style="margin-bottom:0px;"><div class="progress-bar progress-bar-danger" role="progressbar" 
					style="width:{% widthratio characterHP.Right_Leg_HP characterHP.Max_Right_Leg_HP 100 %}%">
					{{characterHP.Right_Leg_HP }} / {{characterHP.Max_Right_Leg_HP }}
				</div> </div>					
			</div>
		</div>
	</div>
	<br>
<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
		{% endif %}
			<div class="well">
          <h4><b>Status</b></h4>
          {% if characterStatus %}
			{% for cStatus in characterStatus %}
				<p>{{ cStatus.SUID.Name }} - {{ cStatus.SUID.Details}}</p> 
			{% endfor %}
		  {% else %}
			<p>No Status Effects</p>
		  {% endif %}
        </div>
        </div>
	</div>