{% extends 'stats/CharacterBase.html' %}
{% block SheetLayout %}	
<div class="col-sm-9">
    <div class="col-md-8">
        <div class="container-fluid bg-1 text-center">
			{% load static %}
			<img class="img-responsive center-block" src="{% static 'stats/character/' %}{{character.Image}}" alt="Player Image"/>
			<div class="well">
            <h1>{{ character.Name }}</h1>
			</div>
        </div>
		<div class="col-md-12">
		  <div class="row">
			<div class="col-xs-4">
			  <div class="well">
				<P><b>Age:</b> {% if character.Age < 0 %} Unknown{% else %} {{character.Age }}{% endif %}</P>
			  </div>
			</div>
			<div class="col-xs-4">
			  <div class="well">
				<P><b>Gender:</b> {{ character.Gender }}</P>
			  </div>
			</div>
			<div class="col-xs-4">
			  <div class="well">
				<P><b>Faction: </b><a href="{% url 'FactionPage' theGroup.GID theGroup.FID.FID %}">{{ character.GID.FID.Name }}</a></P>
			  </div>
			</div>
		  </div>
			<div class="row">
				<div class="well">
					<h4>Appearance</h4>
					<p>{{ character.Appearance }}</p>
				 </div>
			</div>
		</div>  	
    </div>
    <div class="col-md-4"> 
        <div class="row">
			<div class="col">
				<div>
					<div class="col-md-6"> <div class="well-lg">
					<h4><b>Action Surges</b></h4>
					  <h3 class="text-center"><b>{{ character.ActionSurges_stat }}/{{ character.Max_ActionSurges_stat }}</b></h3>
					</div></div>
					
					<div class="col-md-6"> <div class="well-lg">
					<h4><b>Moments of Strength</b></h4>
					  <h3 class="text-center"><b>{{ character.Momentofstrength_stat }}/{{ character.Max_MomentofStrength_stat }}</b></h3>
					</div></div>
					<p>&nbsp;</p>
				</div>
			</div>
            <div class="col">
                <div class="well">
                  <h4><b>Stats</b></h4>
				  <div class="well">
				  {% if characterStat %}
					{% for cstat in characterStat %}
						<p>{{ cstat.STID.Name }} : {{ cstat.Value}}</p> 
				    {% endfor %}
				  {% else %}
					<p>No Stats</p>
				  {% endif %}
                </div></div>
            </div>
            <div class="col">
                <div class="well">
                  <h4><b>Skills</b></h4>
				  <div class="well">
                  {% if characterSkill %}
					{% for cSkill in characterSkill %}
						<p>{{ cSkill.SID.Name }} : {{ cSkill.SID.STID.Name }}  + {{ cSkill.Mod}}</p> 
				    {% endfor %}
				  {% else %}
					<p>No Skills</p>
				  {% endif %}
                </div></div>
            </div>
			<div class="col">
                <div class="well">
                  <h4><b>Powers</b></h4>
                  {% if characterPower %}
				  <div class="panel-group" id="accordionPow">
					  {% for cPower in characterPower %}
						<div class="panel">
						 <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" data-parent="#accordionPow" href="#collapsePow{{cPower.id}}"><h4>{{ cPower.Name }} {% if cPower.Power_stat > 0 %} + {{ cPower.Power_stat}} {% endif %}</h4></a>
							</h4>
						  </div>
						  <div id="collapsePow{{cPower.id}}" class="panel-collapse collapse">
							<div class="panel-body">
								<p> {{cPower.Details}}</p>
							</div>
						  </div>
						</div>
					  {% endfor %}
					</div>
					
				  {% else %}
					<p>No Powers</p>
				  {% endif %}
                </div>
            </div>
        </div>
    </div>
	{% include 'stats/CharacterHPLim.html'%}
	<div class="col-md-12">
	 <div class="well-lg">
		<div class="row">
			<div class="col-sm-6">
			  <div class="well">
				<h3><b>Weapons</b></h3>
				{% if characterWeapon %}
				  <div class="panel-group" id="accordionWeap">
				  {% for cWeapon in characterWeapon %}
					<div class="panel">
					 <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordionWeap" href="#collapseWeap{{cWeapon.WID.WID}}"><h4>{% if  cWeapon.Equiped %}[X]{% else %}[ ]{% endif %} {{ cWeapon.WID.Name }} {% if  cWeapon.Count > 1 %}({{ cWeapon.Count }}){% endif %} </h4></a>
						</h4>
					  </div>
					  <div id="collapseWeap{{cWeapon.WID.WID}}" class="panel-collapse collapse">
						<div class="panel-body">
						<p>Range: {{ cWeapon.WID.RID.Name}} ({{ cWeapon.WID.RID.Distance}})</p> 
						<p>{% if cWeapon.WID.Capacity > 0 %} Ammo:{{ cWeapon.WID.AAID.Name}} ({{ cWeapon.WID.Capacity}}){% endif %}</p> 
						<p>Details: {{ cWeapon.WID.Details}}</p> 
						</div>
					  </div>
					</div>
					{% endfor %}
				  </div> 
				  {% else %}
					<p>No Weapons</p>
				  {% endif %}
				  
			  </div>
			</div>
			<div class="col-sm-6">
			  <div class="well">
				<h3><b>Equipment</b></h3>
				{% if characterGear %}
					<div class="panel-group" id="accordionGear">
					{% for cGear in characterGear %}
					<div class="panel">
					 <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordionGear" href="#collapseGear{{cGear.IID}}"><p>{% if  cGear.Equiped %}[X]{% else %}[ ]{% endif %} {{ cGear.Name }}</p></a>
						</h4>
					  </div>
					  <div id="collapseGear{{cGear.IID}}" class="panel-collapse collapse">
						<div class="panel-body">
						<p>{% if  cGear.Count > 1 %}({{ cGear.Count }}){% endif %} {{ cGear.Details}}</p> 
						</div>
					  </div>
					</div>
				    {% endfor %}
					</div>
				  {% else %}
					<p>No Equipment</p>
				 {% endif %}
			  </div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		{% if characterItem %}
		<div class="well">
			<h3><b>Items</b></h3>
			<div class="panel-group" id="accordionItem">
			  {% for cItem in characterItem %}
				<div class="panel">
				 <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordionItem" href="#collapseItem{{cItem.IID}}"><h4>{{ cItem.Name }}{% if  cItem.Count > 1 %} - ({{ cItem.Count }}){% endif %}  </h4></a>
					</h4>
				  </div>
				  <div id="collapseItem{{cItem.IID}}" class="panel-collapse collapse">
					<div class="panel-body">
						{{ cItem.Details}}
					</div>
				  </div>
				</div>
			  {% endfor %}
			</div> 
		</div>	
		{% endif %}		  
		  {% if characterMoney %}
		  <div class="well">
			<h3><b>Money</b></h3>
			<div class="panel-group" id="accordionWallet">
			  {% for cMoney in characterMoney %}
			  {% if  cMoney.Count > 0 %}
				<div class="panel">
				 <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordionWallet" href="#collapseItem{{cMoney.MID.MID}}"><h4>{{ cMoney.MID.Name }} - ({{ cMoney.Count }})</h4></a>
					</h4>
				  </div>
				  <div id="collapseItem{{cMoney.MID.MID}}" class="panel-collapse collapse">
					<div class="panel-body">
						{{ cMoney.MID.Details}} <p>
						Total value: {% widthratio  cMoney.MID.Value 1 cMoney.Count %} 
					</div>
				  </div>
				</div>
				{% endif %}  
			  {% endfor %}
			</div> 
		  </div>
		  {% endif %}
		</div></div>
	  </div>
    </div>
	<div class="col-md-12">
		<div class="row">
			{% if characterDetails %}
				<div class="well">
					<h4><b>Additional Details</b></h4>
						{% for cDetail in characterDetails %}
							<p>{{ cDetail.Details }}</p> 
						{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
 
 </div>
{% endblock %}