<li class="active"><a href="{% url 'group' theGroup.GID %}">{{ theGroup.Name }}</a></li>
{% for member in groupMembers %}{% if character.CID == member.CID.CID %}<li class="FocusOn"><a href="{% url 'character' theGroup.GID member.CID.CID %}">{{ member.CID.Name }}</a></li>{% else %}<li><a href="{% url 'character' theGroup.GID member.CID.CID %}">{{ member.CID.Name }}</a></li>{% endif %}
{% endfor %}
<li class="active"><a href="{% url 'NPClist' theGroup.GID %}">NPCs</a></li>
<li class="active"><a href="{% url 'EventTimeline' theGroup.GID %}">Timeline</a></li>
<li class="active"><a href="{% url 'ForestHandbook' %}">The Forest Player Handbook</a></li>
<li class="active"><a href="{% url 'HealthPage' theGroup.GID %}">All Health</a></li>
{% if isGC %}<li class="active"><a href="{% url 'SurgePage' theGroup.GID %}">Surge Control</a></li>{% endif %}
