/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
}
/* Top Point */
.top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Center */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Left Mid point */
.mid-left {
  position: absolute;
  top: 43%;
  left: 25%;
  transform: translate(-50%, -50%);
}
/* Right Mid point */
.mid-right {
  position: absolute;
  top: 43%;
  left: 75%;
  transform: translate(-50%, -50%);
}
/* Bottom left Point */
.bottom-left {
  position: absolute;
  bottom: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
}
/* Bottom right Point */
.bottom-right {
  position: absolute;
  bottom: 20%;
  left: 65%;
  transform: translate(-50%, -50%);
}