{% extends 'stats/base.html' %}

{% block title %}{{ Group.Name }}'s NPC list{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12"> 
		<div class="well-lg">
		  <h1 class="active">Timeline for <a href="{% url 'group' Group.GID %}">{{ Group.Name }}</a></h1>
		 </div>
		{% if Events %}
		<div class="container mt-5 mb-5"><div class="row">
			<div class="col-md-6 offset-md-3">
			<ul class="timeline">
			{% for event in Events %}
				<li>
					<h4>{{event.EID.InUniverseDate}}</h4>
					<h3 class="col-md-offset-1"><a href="{% url 'Eventpage' Group.GID event.EID.EID %}">{{event.EID.Name}}</a></h3>
					<p>{{event.EID.Details}}</p>
				</li>
			{% endfor %}
			<li><p>&nbsp;</p></li>
			</ul>
			</div>
		</div></div>
		{% else %}
			<div class = 'well'><p>No Timeline available.</p></div>
		{% endif %}
	</div>
</div>
{% endblock %}