{% extends 'stats/base.html' %}

{% block title %}{{ theGroup.Name }} Health Page{% endblock %}

{% block content %}
    <div class="container-fluid">
		<h1><a href="{% url 'group' theGroup.GID %}">{{ theGroup.Name }}'s </a> Health</h1>
	{% if charactersCon %}<div class= "row">{% for character in charactersCon %}{% for characterHP in characterHPset %}{% for characterArmor in characterArmorset %}{% for characterArmorName in characterArmorNameset %}{% if character == characterHP.CID %}{% if character == characterArmor.CID %}{% if character == characterArmorName.CID %}							
		<div class="col-lg-6">
		{% include 'stats/CharacterHPCon.html'%}
		</div>{% endif %}{% endif %}{% endif %}{% endfor %}{% endfor %}{% endfor %}{% endfor %}</div>{% endif %}
	{% if charactersLim %}<div class= "row">{% for character in charactersLim %}{% for characterHP in characterHPset %}{% for characterArmor in characterArmorset %}{% for characterArmorName in characterArmorNameset %}{% if character == characterHP.CID %}{% if character == characterArmor.CID %}{% if character == characterArmorName.CID %}
		<div class="col-lg-6">
		{% include 'stats/CharacterHPLim.html'%}
		</div>{% endif %}{% endif %}{% endif %}{% endfor %}{% endfor %}{% endfor %}{% endfor %}</div>{% endif %}
	</div>
{% endblock %}
