{% extends 'stats/base.html' %}

{% block title %}{{ Group.Name }}'s NPC list{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12"> 
		<div class="well-lg">
		  <h1 class="active"><a href="{% url 'group' Group.GID %}">{{ Group.Name }}'s NPCs</a></h1>
		 </div>
		{% if NPCList %}
			<section id = 'contents'>
			  <div class="panel panel">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse1"><h2>Faction List<h2></a>
				  </h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
				  <ul class="list-group list-group">
					{% for Fac in NPCFaction %}
						<a href = "#{{ Fac }}"><li class="list-group-item">{{ Fac.Name }}</li></a>
					{% endfor %}
				  </ul>
				</div>
			  </div>
		
		</section>			
			{% for Fac in NPCFaction %}
				<section id = '{{ Fac }}'><h2>{{ Fac.Name }}</h2>
				<div class = 'well'>{% for NPC in NPCList %}{% if NPC.NID.FID == Fac %}
					<h3><a href="{% url 'NPCpage' Group.GID NPC.NID.NID %}">{% if NPC.NID.Alive is False %}(&#x1F480){% endif %}{{ NPC.NID.Name }}
					{% if NPC.EmogiOverride is not nothing %} {{ NPC.EmogiOverride }}
					{% elif NPC.Disposition < -5 %} &#x1F624
					{% elif NPC.Disposition < 0 %}  &#x1F620
					{% elif NPC.Disposition == 0 %} &#x1F610
					{% elif NPC.Disposition > 5 %} 	&#x1F604
					{% elif NPC.Disposition > 0 %} 	&#x1F642				
					{% endif %}</h3></a>{% endif %}{% endfor %}
				<p><a href = "#contents">[Return to top]</a></p></div></section>
			{% endfor %}
			{% else %}
			<div class = 'well'><p>No NPCs are available.</p></div>
			{% endif %}
	</div>
</div>
{% endblock %}