{% extends 'stats/base.html' %}

{% block title %}{{ Group.Name }}'s NPC list{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12"> 
		<div class="well-lg">
		  <h1 class="active"><a href="{% url 'group' Group.GID %}">{{ Group.Name }}'s NPCs</a></h1>
		</div>
	
		{% if NPCList %}
			
			<section id = 'contents'>
			<div class = well-lg>
			<h3>Factions<h3>
			{% for Fac in NPCFaction %}
				<h4><li><a href = "#{{ Fac }}">{{ Fac.Name }}</a></h4></li>
			{% endfor %}
			</div>
			</section>			
			{% for Fac in NPCFaction %}
				<section id = '{{ Fac }}'><h3>{{ Fac.Name }}</h3>
				<div class = 'well'>{% for NPC in NPCList %}{% if NPC.NID.FID == Fac %}
					<h4><li><a href="{% url 'NPCpage' Group.GID NPC.NID.NID %}">{{ NPC.NID.Name }}</a>
					{% if NPC.EmogiOverride is not nothing %} {{ NPC.EmogiOverride }}
					{% elif NPC.Disposition < -5 %} &#x1F624
					{% elif NPC.Disposition < 0 %}  &#x1F620
					{% elif NPC.Disposition == 0 %} &#x1F610
					{% elif NPC.Disposition > 5 %} 	&#x1F604
					{% elif NPC.Disposition > 0 %} 	&#x1F642				
					{% endif %}</li></h4>{% endif %}{% endfor %}
				</div><p><a href = "#contents">[Return to top]</a></p></section>
			{% endfor %}
			{% else %}
				<p>No NPCs are available.</p>
			{% endif %}
	</div>
</div>
{% endblock %}