{% extends 'stats/base.html' %}

{% block title %}{{ Group.Name }}{% endblock %}

{% block content %}
{% if chractersInGroup %}
    <div class="container-fluid">
	<h1><a href="{% url 'group' Group.GID %}">{{ Group.Name }}</a> Surge Control</h1>
	<div class = well>
    {% for Character in chractersInGroup %}
		<h2><b><a href="{% url 'CharacterSheet' Character.CID %}">{{ Character.Name }}</a></b></h2>
		<div class = panel> 
			
			<form action="{% url 'SurgePageCharacterSave' Group.GID Character.CID %}" method="post">
				<label for="cActionSurges">Action Surges: </label>
				{% csrf_token %}
				<input id="ActionSurges_f" type="number" name="ActionSurges_f" value="{{ Character.ActionSurges_stat }}">
				/ {{ Character.Max_ActionSurges_stat }}
				<input type="submit" value="OK">
			</form>
			
		</div>
		
    {% endfor %}
	</div>
    </div>
{% else %}
    <p>No characters are available.</p>
{% endif %}
{% endblock %}
